.mail-list {
    display: flex;
}

.mail-list table{
flex-grow: 1;
}

.mail-list .read {
    background-color: var(--read-bg-color);
}

.mail-list .unread {
    background-color: var(--unread-bg-color);
}

.mail-list .Stared {
    color: gold;
}

.mail-list .unStared {
    color: black;
}