.mail-boolean-filter {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3/4; 
    background-color: var(--main-bg-color);
}

.mail-boolean-filter button {
    display: block;
    font-size: 17px;
}

.mail-boolean-filter div {
    font-family: lato;
    /* padding: 15px 2px; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
    /* background-color: green; */
}

.mail-boolean-filter div:hover {
    background-color: var(--selected-filter-bg-color);
}

.mail-boolean-filter .active {
    background-color: var(--selected-filter-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mail-boolean-filter .filter-btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mail-boolean-filter .filter-icon {
    max-width: 15px;
    padding-right: 10px;
}

/* .mail-boolean-filter .by-subject {
    border-radius: 5px;
} */

/* ///////////////////////////////////////////////////////////////// */
.mail-boolean-filter button {
    font-family: lato;
    padding: 15px 2px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
    background-color: var(--main-bg-color);
}

.mail-boolean-filter button:hover {
    background-color: var(--selected-filter-bg-color);
}

.mail-boolean-filter button:active {
    background-color: var(--selected-filter-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mail-boolean-filter button {
    width: 100%;
    height: 100%;
    border: none;
    /* background-opacity: 0.1; */
}

.mail-boolean-filter .filter-btn.inbox .unReadCount {
    float: right;
    margin-right: 30px;
}

/* .mail-burger{
    display: none;
    width: 30px;
} */