.mail-header {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    /* gap: 20px; */
}

.mail-header .mail-count {
    float: inline-end;
    /* margin: 20px 15px 15px 15px ; */
    /* float: right; */
}


.mail-header .by-subject {
    border-radius: 15px;
    border: none;
    background-color: var(--selected-filter-bg-color);
    margin: 10px;
    height: 2.5em;
    width: 25em;
    padding: 7px;
}

header.mail-header{
    border-bottom: none;
    display: flex;
    align-items: center;
}

.mail-header .compose-btn {
    font-family: lato-bold;
    /* padding: 5px 30px; */
    border-radius: 15px;
    /* text-align: left; */
    background-color: var(--selected-filter-bg-color);
    /* border: 1px black solid; */
    /* margin: 5px; */
    /* padding-top: 12px; */
    /* display: inline-block; */
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}
.mail-header .compose-btn:hover{
  outline: 1px solid rgba(55, 55, 55, 0.36);
}