.mail-list {
    display: flex;
    overflow-x:auto
}

.mail-list table {
    flex-grow: 1;
    border-collapse: collapse;
    table-layout: fixed; 
    height: 40px
}

.mail-list td {
    max-height: 20px;
}

.mail-list td {
    border-bottom: 1px solid rgb(231, 222, 246);

    /* border-spacing: length|initial|inherit; */
}

.mail-list tr:hover {
    background-color: var(--selected-filter-bg-color);
}

.mail-list .read {
    background-color: var(--read-bg-color);
}

.mail-list .unread {
    background-color: var(--unread-bg-color);
}

.mail-list .unStared {
    color: rgba(188, 185, 185, 0.712);
}

.mail-list .stared {
    color: gold;
}


.mail-list button {
    border: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}