@media (max-width: 600px) {

    .mail-header {
        margin-top: 120px;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mail-header .by-subject {
        margin: 0;
    }

    .mail-count {
        margin-bottom: 15px;
    }

    .mail-app {
        display: flex;
        flex-direction: column;
        font-size: 17px;
    }

    .mail-filter {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in, padding-top.45s ease-in, padding-bottom .45s ease-in;
    }

    .mail-filter.visible {
        max-height: 300px;
        transition: max-height .5s ease-in, padding-top.45s ease-in, padding-bottom .45s ease-in;
    }

    /* 55 */
    .mail-boolean-filter {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in, padding-top.45s ease-in, padding-bottom .45s ease-in;
    }
/* 55 */
    .mail-boolean-filter.visible {
        max-height: 300px;
        transition: max-height .5s ease-in, padding-top.45s ease-in, padding-bottom .45s ease-in;
    }

    .mail-burger {
        display: block;
        align-self: center;
        margin-bottom: 10px;
    }

    .mail-details {
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding-top: 200px;
    }
}