.mail-list {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: flex;
    overflow-x: auto;
    /* border: 2px solid green; */
    /* padding: 5px; */
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

.mail-list table {
    flex-grow: 1;
    border-collapse: collapse;
    table-layout: fixed;
    height: 40px;


}

/* .mail-list .table-link{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
} */

/* .mail-list .td-from{
display: flex;
}
.mail-list .td-from .fill-the-gap{
    flex-wrap: 1;
} */

.mail-list .filter-icon {
    max-width: 10px;
    padding-right: 0px;
}

.mail-list td {
    max-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.mail-list td {
    border-bottom: 1px solid rgb(231, 222, 246);

    /* border-spacing: length|initial|inherit; */
}

.mail-list tr:hover {
    background-color: lightblue;
}


.mail-list .read {
    background-color: var(--read-bg-color);
}

.mail-list .unread {
    background-color: var(--selected-filter-bg-color);
}

.mail-list .unStared {
    color: rgba(188, 185, 185, 0.712);
}

.mail-list .stared {
    color: gold;
}


.mail-list button {
    border: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}