:root {
    --main-bg-color: rgb(244, 248, 250);
    --read-bg-color:rgb(235, 242, 246);
    --selected-filter-bg-color: rgb(200, 226, 241);
    --apps-margin-top: 40px;
    --unread-bg-color:rgb(188, 228, 250);
    --main-layout-paddings: 20px;
}

