.note-preview {
    padding: 15px;
    border: 1px solid var(--selected-filter-bg-color);
    border-radius: 0.8rem;
    width: 250px;
    margin-bottom: 20px;
}

.note-preview:hover {
    box-shadow: 0 0 3px black;
    }

.note-img{
    border-radius: 0.8rem;
}
.note-vid{
    border-radius: 0.8rem;

}

.note-btns-container button img{
    width: 10px;
}