@media (max-width: 600px) {

    .note-app {
        flex-direction: column;
        /* border: 2px solid red; */
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 100px;
        font-size: 20px;
    }

    .note-filter {
        /* border: 2px orange solid; */
        flex-direction: row;
        width: auto;
        padding: 0;
        margin: 0;
        min-height: 0;
        /* padding-top: 20px; */
    }

    .note-filter div {
        /* border: 2px red solid; */
        margin: 0; 
        padding: 0;
        font-size: 20px;
    }

    .note-filter{
        justify-content: space-between; 
        
    }

    .note-add {
        margin-top: 20px;
    }

    .note-add form input{
        width: 70vw;
        height: 80px;
    }

    .pinned-note-list {
        gap: 10px;
        display: block;
    }

    .note-btns-container{
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .note-preview{
        display: block;
        /* border: 2px solid red; */
    }

    .note-edit{
        padding: 5px;
        right: auto;
        height: 300px;
        /* width: 300px */
        /* max-width: 150px; */
    }

    .note-preview{
        padding: 10px;
    }

    .note-filter .filter-btn{
        border-radius: 5px;
        margin: 2px;
        font-family: lato;
        /* border: 2px solid green; */
    }

    .note-filter .active{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 10px;
    }

    .pinned-note-list .note-preview {
        max-width: none;
    }

    .note-add-form {
        flex-direction: column;
    }

    .upload-options-container {

        padding-bottom: 15px;
        /* border: 2px solid black; */
        width: 100%;
    }
    .btn.btn0, .btn.btn1, .btn.btn2, .btn.btn3, .btn.btn4 {
        width: 30px;
    }
    .note-add-form img.btn2{
        width: 40px;
        /* height: 35px; */
    }
    .note-add-form img.btn1{
        padding-top: 4px;
        width: 36px;
        /* height: 35px; */
    }

    .note-add-form{
        width: 90vw;
    }

    .rec-img{
        width: 40px;
    }

    .audio-btns-container {
        width: 80vw;
        margin-inline-end: 0;
        padding-bottom: 10px;
    }
    .note-preview {
        width: 90vw;
    }
    .user-msg{
        top: 70px;
    }

    .note-add form input{
        font-size: 20px;
    }
    
}