.note-filter {
    display: flex;
    flex-direction: column;
    /* margin-inline-end: 10px; */
    width: 200px;
    /* border: 3px solid green; */
    min-height: 90vh;
    
}

.note-filter div {
    font-family: lato-bold;
    padding: 15px 2px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    /* background-color: green; */
}
.note-filter div:hover{
    background-color: var(--selected-filter-bg-color);
}
.note-filter .active{
    background-color: var(--selected-filter-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.note-filter .filter-btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}