.note-add{
    padding: 20px 0;
    /* border: 2px red solid; */
    /* min-width: 590px; */
    
}
.note-add form input{
    background-color: var(--main-bg-color);
    height: 40px;
    width:400px;
    /* background-color: red; */
    border: none;
    font-size: 17px;
}


.note-add textarea:focus, 
input:focus{
    outline: none;
}

.note-add-form{
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 5px; */
    border: 1px solid rgba(0, 0, 0, 0.344);
    /* min-height: 42px; */
    /* min-width: 580px; */
    border-radius: 10px;
    display: flex;
    align-items: center; 
    /* justify-items: center; */
    /* border: 3px yellow solid ; */
}
.note-add-form:hover{
    outline: 1px solid rgb(46, 57, 84);
}


.btn.btn0,
.btn.btn1,
.btn.btn2,
.btn.btn3,
.btn.btn4{
    width: 15px;
}
.btn.btn0{
    width: 18px;
}


.upload-options-container{
    width: 160px;
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-between;
}

/* BUTTONS  */
.upload-options-container .btn{
    opacity: 0.7;
}
.upload-options-container .btn:hover{
    opacity: 1;
}

.note-add-form img.btn2{
    width: 20px;
}
.note-add-form img.btn1{
    width: 20px;
}

.btn{
    cursor: pointer;
}

/* RECORDING IMG  */

.rec-img{
    padding: 9px 0 9px 0;
    width: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.audio-btns-container{
    /* border: 2px solid red; */
    width: 100px;
    margin-inline-end: 70px;
    display: flex;
    justify-content: space-between;
}