.mail-edit {
    background-color: rgb(234, 232, 232);
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 1em;
    min-width: 500px;
    min-height: 400px;
    border-radius: 15px;
    padding: 0;
    z-index: 10;
}

/* .mail-edit >* :not(.header){
    border-radius: 15px;
} */

.mail-edit .header {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    position: relative;

    /* top: 0;  */
}

.mail-edit .btn {
    border-top-left-radius: 15px;
    background: var(--selected-filter-bg-color);
    border: none;
    padding: 10px;
}

.mail-edit .txt {
    width: 98%;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 0.5px;
    border-color: rgba(239, 240, 249, 0.789);
}

.mail-edit .txt.body {
    height: 250px;
    text-align: left;
    flex-grow: 1;
}

.mail-edit .btn-container {
    /* justify-content:flex-start; */
    /* justify-content:left; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    justify-content: space-between;
    /* gap: 5px; */
    border-radius: 20px;
}

.mail-edit .btn-container .btn-send {
    background-color: rgb(35, 129, 236);
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    width: 8em;
    cursor: pointer;
}

.mail-edit .btn-container .btn-save {
    max-width: 30px;
    padding: 5px;
    cursor: pointer;
    border: none;
}