
.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--page-padding-top);
}

.book-details.red{
color: red;
}
.book-details.green{
    color: green;
}
