 header {
     background: var(--selected-filter-bg-color);
     border-bottom: 3px solid white;
 }

 .app-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* padding: 20px 0; */
 }

 .app-header nav {
     padding-inline-end: 20px;
 }

 nav a {
     margin: .5em;
     /* font-family: lato-bold; */
 }

 nav a:active {
     color: white;
 }

 nav a.active {
     color: black;
     font-weight: bold;
     text-decoration: overline;
 }


 /* LOGO  */

 .logo-container {
     padding: 20px 0 20px 20px;
 }

 .item {
     font-family: lato-bold;
     font-size: 30px;
 }

 .logo.item1 {
     color: rgb(24, 115, 234);
 }

 .logo.item2 {
     color: rgb(196, 27, 21);
 }

 .logo.item3 {
     color: rgb(215, 162, 26);
 }

 .logo.item4 {
     color: rgb(24, 115, 234);
 }

 .logo.item5 {
     color: rgb(20, 122, 11);
 }

 .logo.item6 {
     color: rgb(196, 27, 21);
 }

 .nav-home-img {
     width: 30px;
 }

 .nav-gmail-img {
     width: 36px;
 }

 .nav-note-img {
     width: 35px;
 }

 .nav-info-img {
     width: 35px;
 }

 .burger{
    width: 35px;
    background-color:var(--selected-filter-bg-color);
    padding: 0;
 }

 .navimg {
     opacity: 0.8;
 }

 .navimg:hover {
     opacity: 1;
 }

 .burger{
    display: none;
 }

 /* MQ */

 @media (max-width: 600px) {

     .app-header {
         position: fixed;
         width: 100%;
         z-index: 9;
     }
   
 
      .app-header nav {
        /* border: 2px solid red; */
         position: fixed;
         right: 0px;
         top: 75px;
         background-color: var(--selected-filter-bg-color);
         max-height: 0;
         /* border-radius: 10px; */
         overflow: hidden;
         transition: max-height .5s ease-in, padding-top.45s ease-in, padding-bottom .45s ease-in;
         
     } 

     nav a {
        margin: 0.9em;
        /* font-family: lato-bold; */
    }

     .app-header nav.open{
        position: fixed;
        right: 0px;
        top: 75px;
        max-height: 190px;
        padding-bottom: 20px;
        padding-top: 20px;
        
     } 

     .burger{
        display: block;
        margin-right: 20px;
     }
 }